<connectionStrings>
	<add name="liveconn" connectionString="Server=tcp:shiffygreen.database.windows.net,1433;Initial Catalog=HeartyHearthDB;User Id=test;Password=Hello123!Persist Security Info=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
	<add name="devconn" connectionString="Server=.\SQLExpress;Database=Heartyhearthdb;User Id=test;Password=Hello123!"/>
	<!--<add name="unittestconn" connectionString="Server=.\SQLExpress;Database=Heartyhearthdb;Trusted_Connection=true"/>-->
</connectionStrings>