<connectionStrings>
	<add name="unittestconn" connectionString="Server=tcp:shiffygreen.database.windows.net,1433;Initial Catalog=HeartyHearthDB;Persist Security Info=False;User ID=shiffyadmin;Password=Bestfriend#1;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
	<add name="devconn" connectionString="Server=tcp:shiffygreen.database.windows.net,1433;Initial Catalog=HeartyHearthDB;Persist Security Info=False;User ID=test;Password=Hello123!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
	<!--<add name="unittestconn" connectionString="Server=.\SQLExpress;Database=Heartyhearthdb;Trusted_Connection=true"/>-->
</connectionStrings>